<header class="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <i class="ri-article-line"></i> EBOD
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <!-- Math Dropdown -->
                <li class="dropdown__item">
                    <div class="nav__link dropdown__trigger">
                        Mathematics <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li><a href="/math/blog" class="dropdown__link"><i class="ri-quill-pen-line"></i> Math Blog</a></li>
                        <li><a href="/math/calculus" class="dropdown__link"><i class="ri-function-line"></i> Calculus</a></li>
                        <li><a href="/math/number-theory" class="dropdown__link"><i class="ri-infinity-line"></i> Number Theory</a></li>
                        <li><a href="/math/ib" class="dropdown__link"><i class="ri-file-list-line"></i> IB Past Papers</a></li>
                    </ul>
                </li>

                <li><a href="/poetry" class="nav__link">Poetry</a></li>
                <li><a href="/travel" class="nav__link">Travel</a></li>
                <li><a href="/library" class="nav__link">Library</a></li>
                <li><a href="/about" class="nav__link">About</a></li>
                <li><a href="/contact" class="nav__link">Contact</a></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</header>
