<header class="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">
      <i class="ri-article-line"></i> The Brilliant Tutor
    </a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <!-- About Dropdown -->
        <li class="dropdown__item">
          <div class="nav__link dropdown__trigger">
            About <i class="ri-arrow-down-s-line dropdown__arrow"></i>
          </div>

          <ul class="dropdown__menu">
            <li>
              <a href="/about/math_blog" class="dropdown__link"
                ><i class="ri-quill-pen-line"></i> Personal Blog</a
              >
            </li>
            <li>
              <a href="/about/personal_blog/" class="dropdown__link"
                ><i class="ri-function-line"></i> Math Blog</a
              >
            </li>
            <li>
              <a href="/about/travel_blog/" class="dropdown__link"
                ><i class="ri-function-line"></i> Travel Blog</a
              >
            </li>
          </ul>
        </li>
        <!-- Resume -->
        <li><a href="/resume" class="nav__link">Resume</a></li>
        <!-- Projects -->
        <li><a href="/projects" class="nav__link">Projects</a></li>

        <!-- Math Dropdown -->
        <li class="dropdown__item">
          <div class="nav__link dropdown__trigger">
            Mathematics <i class="ri-arrow-down-s-line dropdown__arrow"></i>
          </div>

          <ul class="dropdown__menu">
            <li>
              <a href="/math/blog" class="dropdown__link"
                ><i class="ri-quill-pen-line"></i> Math Blog</a
              >
            </li>
            <li>
              <a href="/math/calculus/" class="dropdown__link"
                ><i class="ri-function-line"></i> Calculus</a
              >
            </li>
            <li>
              <a href="/math/number-theory/" class="dropdown__link"
                ><i class="ri-infinity-line"></i> Number Theory</a
              >
            </li>
            <li>
              <a href="/math/ib" class="dropdown__link"
                ><i class="ri-file-list-line"></i> IB Past Papers</a
              >
            </li>
          </ul>
        </li>

        <!-- Library Dropdown -->
        <li class="dropdown__item">
          <div class="nav__link dropdown__trigger">
            Library <i class="ri-arrow-down-s-line dropdown__arrow"></i>
          </div>

          <ul class="dropdown__menu">
            <li>
              <a href="/library/poetry" class="dropdown__link"
                ><i class="ri-quill-pen-line"></i> Poetry</a
              >
            </li>
            <li>
              <a href="/library/books/" class="dropdown__link"
                ><i class="ri-function-line"></i> Books</a
              >
            </li>
            <li>
              <a href="/library/writings/" class="dropdown__link"
                ><i class="ri-infinity-line"></i> Writings</a
              >
            </li>
          </ul>
        </li>

        <li><a href="/contact" class="nav__link">Contact</a></li>
        >
      </ul>
    </div>

    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-menu-line"></i>
    </div>
  </nav>
</header>
